<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Properties>
		<Property name="appLogFileName">demo-web-app</Property>
		<Property name="reactorLogFileName">reactor-logs</Property>
		<Property name="springLogFileName">spring-logs</Property>
		<Property name="thirdPartyLogFileName">third-party</Property>
		
		<!-- default value for log path -->
		<Property name="baseLogPath">logs</Property>
	</Properties>
	<Appenders>
		<Console name="CONSOLE_APPENDER" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [Thread: %t] %level %c#%M - %msg%n" />
		</Console>

		<RollingRandomAccessFile 
				name="APP_LOG_APPENDER" 
				fileName="${sys:baseLogPath}/${appLogFileName}.log"
				filePattern="${sys:baseLogPath}/backups/$${date:yyyy-MM}/${appLogFileName}-%d{yyyy-MM-dd}-%i.log.gz" 
				filePermissions="rw-r-----"
				immediateFlush="true">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [Thread: %t] [Tx: %X{X-B3-TraceId}] [Span: %X{X-B3-SpanId}] %level %c#%M - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile 
				name="REACTOR_LOG_APPENDER" 
				fileName="${sys:baseLogPath}/${reactorLogFileName}.log"
				filePattern="${sys:baseLogPath}/backups/$${date:yyyy-MM}/${reactorLogFileName}-%d{yyyy-MM-dd}-%i.log.gz" 
				filePermissions="rw-r-----"
				immediateFlush="true">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [Thread: %t] %level %c#%M - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile 
				name="SPRING_LOG_APPENDER" 
				fileName="${sys:baseLogPath}/${springLogFileName}.log"
				filePattern="${sys:baseLogPath}/backups/$${date:yyyy-MM}/${springLogFileName}-%d{yyyy-MM-dd}-%i.log.gz" 
				filePermissions="rw-r-----"
				immediateFlush="true">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [Thread: %t] %level %c#%M - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingRandomAccessFile>
		<RollingRandomAccessFile 
				name="THIRD_PARTY_LIBRARY_APPENDER" 
				fileName="${sys:baseLogPath}/${thirdPartyLogFileName}.log"
				filePattern="${sys:baseLogPath}/backups/$${date:yyyy-MM}/${thirdPartyLogFileName}-%d{yyyy-MM-dd}-%i.log.gz"
				filePermissions="rw-r-----"
				immediateFlush="true">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [Thread: %t] %level %c#%M - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingRandomAccessFile>
		
	</Appenders>
	
	<Loggers>
		<Logger name="com.demo" additivity="false" level="debug">
			<AppenderRef ref="APP_LOG_APPENDER"/>
		</Logger>
		<Logger name="reactor" additivity="false" level="debug" >
			<AppenderRef ref="REACTOR_LOG_APPENDER" />
		</Logger>
		<Logger name="org.springframework" additivity="false" level="debug" >
			<AppenderRef ref="SPRING_LOG_APPENDER" />
		</Logger>
		<Root additivity="false" level="debug">
			<AppenderRef ref="THIRD_PARTY_LIBRARY_APPENDER" />
			<AppenderRef ref="CONSOLE_APPENDER" />
		</Root>
		
	</Loggers>
</Configuration>